{{registration.value|json}}

<form [formGroup]="registration">
  <label for="fname">First Name</label>
  <input formControlName="name1" type="text" id="fname" ><br>
  <label for="lname">Last Name</label>
  <input formControlName="name2" type="text" id="lname"><br>

  <div formGroupName="address">
  <label for="postal code">postal code</label>
  <input formControlName="postal_code" type="text" id="fname" ><br>
  <label for="state">state</label>
  <input formControlName="state" type="text" id="lname"><br>
  <label for="city">city</label>
  <input formControlName="city" type="text" id="fname" ><br>

  </div >
  <label for="agree">Check the box if you agree</label>
  <input formControlName="agree" type="checkbox" id="agree"><br>
  <input type="submit" id="submit" name="submit">
  <input (click)="load_api_data()" type="button" id="load_api_data" name="load_api_data">

</form>
